.wrapper {
    display: flex;
    justify-content: space-between;
}

.links {
    padding: 10px 50px;
    background-color: gray;
}
.links a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
}