nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 25px;
  right: 0;
  margin: auto 20px;
  width: 100%;
}
.nav-links {
  display: flex;
  gap: 0 10px;
}
.nav-links a {
    color: lightgray;
    text-decoration: none;
}