.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px 40PX;
}
.wrapper img {
    width: 2%;
}
.wrapper .nav-links {
    display: flex;
    gap: 40px;
    padding: 15px 40px;
    /* background-color: transparent; */
}
.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links a:hover {
    border-bottom: 2px solid rgb(199, 190, 190);
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.nav-links span {
    padding-right: 5px;
}