:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
} 

body {
  display: grid;
  place-items: center;
  max-width: 1200px;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 0;
  margin: auto 20px;
  width: 100%;
}
.nav-bar .nav-links {
  display: flex;
  gap: 0 15px;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: rgb(255, 255, 255, 0.5);
  transform: translateX(-10%);
}
.nav-links a {
  color: white;
}
.nav-links a:hover {
  color: rgba(249, 249, 249, 0.5);
}
.nav-links a h4{
  font-weight: 300;
}
.nav-links a h4 span{
  margin-right: 3px;
  font-weight: 900;
}

.home {
  height: 100vh;
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
.home main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.home .space {
  margin-right: 24em;
  margin-left: 3em;
  text-align: start;
  color: rgb(235, 229, 229);
}
.home .space h3 span {
  display: block;
  font-size: 100px;
}
.home .space p {
  padding-right: 2em;
  font-size: 14px;
}
.home .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 9em;
  background: white;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 50%;
  text-align: center;
}
.home .explore a {
  color: gray;
}

.destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 1280px;
  padding-top: 10em;
  padding-left: 5em;
  background-image: url(/public/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.destination section img {
  width: 70%;
  margin-top: 40px;
}
.destination h1 {
  font-size: 20px;
  color: white;
  font-weight: 100;
}
.destination span {
  margin-right: 15px;
  color: gray;
  font-weight: 900;
}
.destination main {
  margin: auto 10em;
}
.destination ul button {
  border-radius: 3px;
  padding: 0.6em 1.5em;
}
button:active {
  border-bottom: 1px solid white;
}
.destination .planet-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
}
.destination .planet-details article {
  padding: 10px;
}
.destination .planet-details article h2{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 52px;
}
.destination .planet-details .info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  margin-top: 40px;
  padding-top: 30px;
}
.destination .planet-details .info p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 10px;
  color: gray;
}
.destination .planet-details .info span{
  font-size: 24px;
}

.crew {
  width: 100vw;
  padding: 2rem;
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url(/public/assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.crew .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.crew header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: self-start;
  align-self: self-end;
  margin-left: 60px;
}
.crew header h1 {
  font-size: 20px;
  color: white;
}
.crew header h1 span {
  padding-right: 12px;
  font-size: 20px;
  color: gray;
}
.crew .crew-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-top: 4em;
}
.crew .crew-img img {
  width: 50%;
}
.crew .btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  position: absolute;
  top: 30rem;
  left: 5rem;
}
.crew .btn button {
  padding: 5px;
  background-color: transparent;
}
.crew .wrapper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 5em 60px;
  padding-right: 5.2rem;
  text-align: start;
}
.crew .wrapper span {
  color: gray;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.crew .wrapper h2{
  padding-bottom: 16px;
  color: white;
  font-size: 32px;
  font-weight: bolder;
  text-transform: uppercase;
}
.crew .wrapper p{
  color: #bab5b5;
  font-size: 16px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-screen {
  display: grid;
  place-items: center;
  height: 100vh;
}

.technology {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/technology/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.technology h1 {
  margin-left: 100px;
  padding-top: 6rem;
  font-size: 20px;
  color: white;
}
.technology h1 span {
  padding-right: 15px;
}
.technology .wrapper {
  display: grid;
  grid-template-columns: 15% 50% 35%;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.technology .wrapper .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technology .wrapper button {
  width: 30%;
  height: 50px;
  margin: 20px 0;
  padding: 5px;
  font-size: 22px;
  border: 1px solid gray;
  border-radius: 50%;
}
.technology .wrapper .contents p {
  font-size: 12px;
  color: gray;
}
.wrapper .contents .selected h2 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
}
.wrapper .contents .selected p {
  margin-right: 250px;
  padding-top: 20px;
  font-size: 14px;
  color: #adacac;
}
 .technology .images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.technology .images img {
  width: 100%;
  object-fit: contain; 
}


@media screen and (max-width: 1200px) {
  .destination {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    padding-top: 0;
    padding-left: 0;
  }
  .destination .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }
  .destination main {
    margin: 0;
    padding: 10px;
  }
  .destination .planet-details .info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin-top: 20px;
    padding-top: 10px;
  }
  .crew header {
    align-self: center;
  }
  .crew .wrapper {
  padding-right: 0;
}
}

@media screen and (max-width: 945px) {
  .home {
    padding-top: 120px;
    background-image: url(/public/assets/home/background-home-tablet.jpg);
  }
  .home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .space {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  .home .space h3 span {
    font-size: 60px;
  }
  .home .space p {
    padding: 0 20px;
  }
  .destination {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(/public/assets/destination/background-destination-tablet.jpg);
  }
  .destination .img-wrapper img {
    width: 40%;
  }
  .destination main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .crew {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/crew/background-crew-tablet.jpg);
  }
  .crew .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .crew header {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
    margin-top: 60px;
    margin-left: 0;
  }
  .crew .crew-img {
    grid-column: auto;
    grid-row: auto;
    justify-content: center;
    margin-top: 2em;
  }
  .crew .crew-img img {
    width: 70%;
  }
  .crew .btn {
    grid-column: auto;
    grid-row: auto;
    position: static;
    margin-top: 20px;
  }
  .crew .btn button {
    padding: 20px;
  }
  .crew .wrapper {
    grid-column: auto;
    grid-row: auto;
    margin: 30px 60px;
    padding-right: 0;
    text-align: center;
  }
  .technology {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/technology/background-technology-tablet.jpg);
  }
 .technology h1 {
    margin-left: 0;
    text-align: center;
  }
  .technology .wrapper {
    grid-template-columns: 1fr;
     margin-left: 0;
     padding-bottom: 3rem;
  }
  .technology .wrapper .circle {
    flex-direction: row;
  }
  .technology .wrapper button {
    width: 10%;
    height: 50px;
    margin: 20px 50px;
    font-size: 16px;
  }
  .technology .images {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    margin-right: 0;
  }
  .technology .images img {
    width: 80%;
    margin: 20px 0;
  }
  .technology .wrapper p {
    text-align: center;
  }
  .technology .wrapper .contents h2 {
    text-align: center;
  }
  .wrapper .contents .selected p {
    margin-right: 0;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
  }
}